$body-background-color: #000;
$base-color-pink-strong: #D87FA8;
$base-color-pink: #E5AAC4;
$base-color-yellow-strong: #F0CF7C;
$base-color-yellow: #F4DEA9;
$title-purple: #6e358c;
$title-blue: #6ddbb1;
$grey-background: #1c1c1c;
$opaque-background: #0000001a;
$opaque-background-strong: #0000008c;

